openapi: 3.0.1
info:
  title: dev
  description: A simple service to manage repairs for various items
  version: '1.0'
servers:
  - url: https://bowsongapimtest.azure-api.net
paths:
  /repairs:
    get:
      security:
        - apiKeyHeader: []
      summary: List all repairs
      description: Returns a list of repairs with their details and images
      operationId: listRepairs
      parameters:
        - name: assignedTo
          in: query
          description: Filter repairs by who they're assigned to
          schema:
            type: string
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The unique identifier of the repair
                    title:
                      type: string
                      description: The short summary of the repair
                    description:
                      type: string
                      description: The detailed description of the repair
                    assignedTo:
                      type: string
                      description: The user who is responsible for the repair
                    date:
                      type: string
                      description: The date and time when the repair is scheduled or completed
                      format: date-time
                    image:
                      type: string
                      description: The URL of the image of the item to be repaired or the repair process
                      format: uri
              example:
                - id: 0
                  title: string
                  description: string
                  assignedTo: string
                  date: string
                  image: string
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
